<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Nest Dashboard</title>
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta property="og:title" content="" />
        <meta property="og:type" content="" />
        <meta property="og:url" content="" />
        <meta property="og:image" content="" />
        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="/assets/imgs/theme/favicon.svg" />
        <!-- Template CSS -->
        <link href="/assets/css/main.css?v=1.1" rel="stylesheet" type="text/css" />
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    </head>

    <body>
        <div class="screen-overlay"></div>
        <aside class="navbar-aside" id="offcanvas_aside">
            <div class="aside-top">
                <a href="" class="brand-wrap">
                    <img src="/assets/imgs/theme/logo.svg" class="logo" alt="Nest Dashboard" />
                </a>
                <div>
                    <button class="btn btn-icon btn-aside-minimize"><i class="text-muted material-icons md-menu_open"></i></button>
                </div>
            </div>
            <nav>
                <ul class="menu-aside">
                    <li class="menu-item ">
                        <a class="menu-link" href="/adminHome">
                            <i class="icon material-icons md-home"></i>
                            <span class="text">Dashboard</span>
                        </a>
                    </li>

                    <li class="menu-item ">
                        <a class="menu-link" href="/userDetails">
                            <i class="icon material-icons md-person"></i>
                            <span class="text">Users</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a class="menu-link" href="/addCategory">
                            <i class="icon material-icons md-shopping_bag"></i>
                            <span class="text">Categories</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a class="menu-link" href="/addProduct">
                            <i class="icon material-icons md-add_box"></i>
                            <span class="text">Add Product</span>
                        </a>
                    </li>
                    

                    <li class="menu-item">
                        <a class="menu-link" href="/loadProductList">
                            <i class="icon material-icons md-shopping_bag"></i>
                            <span class="text">Product List</span>
                        </a>
                    </li>
                    
                   
                    <li class="menu-item">
                        <a class="menu-link" href="/orderList">
                            <i class="icon material-icons md-shopping_bag"></i>
                            <span class="text">Orders</span>
                        </a>
                    </li>
                    
                    <li class="menu-item has-submenu">
                        <a class="menu-link" href="/Coupon">
                            <i class="icon material-icons md-store"></i>
                            <span class="text">Coupon Management</span>
                        </a>
                        <div class="submenu">
                            <a href="/Coupon">Add Coupon</a>
                            <a href="/couponList">View</a>
                        </div>
                    </li>

                    <li class="menu-item has-submenu">
                        <a class="menu-link" href="/offer">
                            <i class="icon material-icons md-store"></i>
                            <span class="text">Offer Management</span>
                        </a>
                        <div class="submenu">
                            <a href="/addoffer">add Offer</a>
                            <a href="/viewOffer">View</a>
                        </div>
                    </li>
                    
                    <li class="menu-item">
                        <a class="menu-link" href="/SalesReport">
                            <i class="icon material-icons md-shopping_bag"></i>
                            <span class="text">Sales Report</span>
                        </a>
                    </li>
                    
                    
                    
                </ul>
                <hr />
                
                <br />
                <br />
            </nav>
        </aside>
        <main class="main-wrap">
            <header class="main-header navbar">
                <div class="col-search">
                    <form class="searchform">
                        <div class="input-group">
                        </div>
                        <datalist id="search_terms">
                            <option value="Products"></option>
                            <option value="New orders"></option>
                            <option value="Apple iphone"></option>
                            <option value="Ahmed Hassan"></option>
                        </datalist>
                    </form>
                </div>
                <div class="col-nav">
                    <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"><i class="material-icons md-apps"></i></button>
                    <ul class="nav">
                        
                        <li class="nav-item">
                            <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i> </a>
                        </li>
                        
                        <li class="dropdown nav-item">
                            <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false"> <img class="img-xs rounded-circle" src="/assets/imgs/people/avatar-2.png" alt="User" /></a>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                                
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item text-danger" href="/adminLogout"><i class="material-icons md-exit_to_app"></i>Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </header>