<!--Body Content-->
<style>
    /* Style for the 404 page content */
    #page-content {
        padding: 50px 0;
    }

    .empty-page-content {
        background-color: #f9f9f9;
        border-radius: 10px;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        text-align: center; /* Center align text */
    }

    .empty-page-content h1 {
        color: #333;
        font-size: 36px;
        margin-bottom: 20px;
    }

    .empty-page-content p {
        color: #666;
        font-size: 18px;
        margin-bottom: 20px;
    }

    .empty-page-content .btn {
        align-items: center;
        background-color: #007bff;
        color: #fff;
        padding: 10px 20px;
        border-radius: 5px;
        text-decoration: none;
        transition: background-color 0.3s ease;
    }

    .empty-page-content .btn:hover {
        background-color: #0056b3;
    }

    .empty-page-content .fa-caret-right {
        margin-left: 5px;
    }
</style>
<div id="page-content">        
    <!-- Lookbook Start -->
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">    
                <div class="empty-page-content">
                    <h1>404 Page Not Found</h1>
                    <p>The page you requested does not exist.</p>
                    
                    <p><a href="#" class="btn btn--has-icon-after" onclick="back()">Back <i class="fa fa-caret-right" aria-hidden="true"></i></a></p>
                </div>
            </div>
        </div>
    </div>
    <!-- Lookbook Start -->
</div>
<!--End Body Content-->
<script>
    function back(){
        window.history.back();
    }
</script>
